@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.rhino {
	position: fixed;
	right: 5px;
	bottom: 5px;

	height: 30vh;
	width: 25vw;
	padding: 20px 15px;

	border-radius: 15px;

	background-color: #1c2c54;

	font-family: "Poppins", sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	z-index: 1000;
}

.rhino-heading {
	color: #f5f5f5;
	text-transform: none;
	text-decoration: none;
	font-weight: 600;
}
.rhino-text {
	font-weight: 400;
	color: #f5f5f5;
}

.rhino.hidden {
	display: none;
}
