.assets {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&-container {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, 300px);
		grid-template-rows: auto;
		justify-items: center;
		align-items: center;
		.images {
			width: 20rem;
			height: 20rem;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 100%;
				border-radius: 10px;
				&.broken {
					width: 8rem;
					height: 8rem;
				}
			}
		}
	}
}
