.loader {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

.bouncer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
  height: 100px;
}

.bouncer div {
  width: 20px;
  height: 20px;
  background-color: #051e34;
  border-radius: 50%;
  -webkit-animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
          animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.bouncer div:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 0.8;
}

.bouncer div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 0.6;
}

.bouncer div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0.4;
}

.bouncer.primary div {
  background: #051e34;
}

.bouncer.light div {
  background: #f5f5f5;
}

@-webkit-keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
}

input,
button,
textarea,
option,
select {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

.form {
  margin: 3rem 0rem;
}

.form .developer-selector-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .developer-selector-group .form-item {
  width: 75%;
}

.form .developer-selector-group .form-button-add {
  text-align: center;
  width: 20%;
  height: 100%;
  padding: 1rem;
  margin-left: 1rem;
  background-color: #051e34;
  color: white;
}

.form .developer-selector-group .form-button-add:hover {
  cursor: pointer;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 2rem 0rem;
  height: 8rem;
}

.form-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0rem;
}

.form-item-group-item {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-item-group-item select {
  -webkit-appearance: none;
  width: 100%;
  height: 5rem;
  border: 1px solid #051e34;
  font-size: 1.6rem;
  padding: 0rem 1rem;
}

.form-item-group-item label {
  color: #051e34;
  font-weight: 600;
}

.form-item select {
  -webkit-appearance: none;
}

.form-item input,
.form-item textarea {
  height: 70%;
  width: 100%;
  padding: 0rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #051e34;
  outline: none;
  background-color: rgba(5, 30, 52, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-item input[type="date"]:required:invalid::-webkit-datetime-edit,
.form-item textarea[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

.form-item input:focus,
.form-item textarea:focus {
  background-color: rgba(5, 30, 52, 0.04);
}

.form-item input:focus + label,
.form-item textarea:focus + label {
  top: 0rem;
  left: 0rem;
  color: #051e34;
  font-weight: 600;
}

.form-item input:valid + label,
.form-item textarea:valid + label {
  top: 0rem;
  left: 0rem;
  color: #051e34;
  font-weight: 600;
}

.form-item label {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-item textarea {
  padding-top: 1.5rem;
  resize: none;
}

.form-button {
  text-align: center;
}

.form-button button {
  width: 90%;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  background-color: #1c2c54;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 1.8rem;
  border: none;
  outline: none;
}

.form-button button:hover {
  cursor: pointer;
}

.form-error {
  text-align: center;
  color: red;
}

.navbar {
  width: 100%;
  height: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 5rem;
  width: 5rem;
}

.navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar-list {
  justify-self: flex-end;
}

.navbar-list-item {
  padding: 2rem 3rem;
  text-decoration: none;
  color: #051e34;
  font-size: 1.8rem;
}

.navbar-list-item.selected {
  border-bottom: 2px solid #051e34;
}

.navbar-profile {
  -ms-grid-column-align: center;
      justify-self: center;
}

.sidebar {
  height: 100vh;
  width: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #051e34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 3rem 0rem;
}

.sidebar-logo:hover {
  cursor: pointer;
}

.sidebar-logo img {
  width: 5rem;
  height: 5rem;
}

.sidebar-logo h1 {
  font-weight: 600;
  font-size: 3rem;
  color: #f5f5f5;
}

.sidebar .project-name {
  margin: 2rem 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sidebar .project-name h1 {
  font-size: 3.2rem;
  color: white;
}

.sidebar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.sidebar-list-item {
  padding: 2rem 0rem;
  text-decoration: none;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sidebar-list-item.selected {
  background-color: #1c2c54;
}

.sidebar-list-item svg {
  margin-left: 3rem;
}

.sidebar-list-item h1 {
  color: #f5f5f5;
  font-size: 2.2rem;
  margin-left: 2rem;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #051e34;
  border: 3px solid #8ea2b4;
}

.avatar-name {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.container {
  margin-left: 10rem;
  margin-right: 10rem;
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.suggestion {
  margin-top: 1rem;
}

.suggestion-box {
  z-index: 1000;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.suggestion-box p {
  padding: 1rem 1.2rem;
}

.suggestion-box p:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}

.bookmarks-grid {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.bookmarks-grid :hover {
  background-color: #051e34;
  color: #f5f5f5;
}

.bookmarks-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.1);
          box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.1);
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  border-radius: 1rem;
}

.bookmarks-grid-item .icon {
  height: 5rem;
  width: 5rem;
  margin-bottom: 2rem;
}

.bookmarks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 10rem;
}

.bookmarks .back-button-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.bookmarks .back-button-container .back-button {
  height: 5rem;
  width: 5rem;
}

.bookmarks .back-button-container .back-button:hover {
  cursor: pointer;
}

.bookmark-not-found {
  position: absolute;
  left: calc(50%);
  margin-left: 10rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.assets {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assets-container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assets-container .images {
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assets-container .images img {
  width: 100%;
  border-radius: 10px;
}

.assets-container .images img.broken {
  width: 8rem;
  height: 8rem;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.1);
          box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.1);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #cfdeeb;
  color: #051e34;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #a6c1d9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #051e34;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1c2c54;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  height: 100vh;
}

.timeline-tasks {
  padding: 3rem 2rem;
}

.timeline-tasks .no-tasks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.timeline-tasks .no-tasks h1 {
  font-weight: 400;
}

.timeline-tasks > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-tasks > .title h1 {
  font-size: 2.2rem;
}

.timeline-tasks > .title svg {
  height: 4rem;
  width: 4rem;
}

.timeline-tasks > .title svg:hover {
  cursor: pointer;
}

.timeline-tasks-add {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.timeline-tasks-add .form {
  z-index: 1000;
  height: 70rem;
  width: 50rem;
  background-color: white;
  padding: 3rem 3rem;
  margin: 0rem;
  overflow-y: scroll;
}

.timeline-tasks-add .form-item label {
  top: 0rem;
  left: 0rem;
  color: #051e34;
  font-weight: 600;
}

.timeline-tasks-add .form .developer-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timeline-tasks-add .form .developer-tag-item {
  padding: 0.5rem 0.8rem;
  background-color: #051e34;
  margin: 1rem;
  margin-top: 0.5rem;
  border-radius: 1000px;
  color: white;
}

.timeline-tasks-grid {
  padding: 5rem 2rem;
  height: 100%;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35rem 35rem;
      grid-template-columns: 35rem 35rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.timeline-tasks-grid-item {
  height: 30rem;
  width: 35rem;
  background-color: white;
  border-radius: 10px;
  padding: 2rem 2.5rem;
  -webkit-box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.1);
          box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.timeline-tasks-grid-item .today {
  margin-top: 1rem;
  width: 100%;
  background-color: #4671f1;
  color: white;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.timeline-tasks-grid-item .today svg {
  margin-right: 1rem;
}

.timeline-tasks-grid-item .today.start {
  background-color: #4671f1;
}

.timeline-tasks-grid-item .today.end {
  background-color: #c20000;
}

.timeline-tasks-grid-item .developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-tasks-grid-item .developers .avatar {
  margin-right: 0.5rem;
}

.timeline-tasks-grid-item .description {
  color: grey;
}

.timeline-tasks-grid-item .priority {
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 10000px;
}

.timeline-tasks-grid-item .priority.high {
  background-color: red;
}

.timeline-tasks-grid-item .priority.medium {
  background-color: green;
}

.timeline-tasks-grid-item .priority.low {
  background-color: blue;
}

.timeline-ongoing {
  height: 100%;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.timeline-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin-header .logo {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}

.signin-header .logo img {
  width: 100%;
  height: 100%;
}

.signin-header h1 {
  margin: 1rem;
  font-size: 3rem;
}

.signin-form-container {
  width: 35rem;
}

.signin-form-container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin-form-container .tabs-item {
  padding: 2rem 1.5rem;
  width: 50%;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}

.signin-form-container .tabs-item:hover {
  cursor: pointer;
}

.signin-form-container .tabs-item.selected {
  border-bottom: 3px solid #051e34;
}

.projects {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 7rem;
}

.projects-add {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects-add .form {
  z-index: 1000;
  width: 50rem;
  background-color: white;
  padding: 2rem 3rem;
}

.projects-add .form-item label {
  top: 0rem;
  left: 0rem;
  color: #051e34;
  font-weight: 600;
}

.projects-add .form .developer-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-add .form .developer-tag-item {
  padding: 0.5rem 0.8rem;
  background-color: #051e34;
  margin: 1rem;
  margin-top: 0.5rem;
  border-radius: 1000px;
  color: white;
}

.projects-header {
  height: 40vh;
  width: 100%;
  background-color: #051e34;
  position: absolute;
  top: 0;
  left: 0;
}

.projects-header img {
  height: 50vh;
  width: 50vh;
  position: absolute;
  opacity: 0.2;
}

.projects-header .signout {
  position: absolute;
  padding: 1rem 1.5rem;
  color: white;
  background-color: #c20000;
  border-radius: 10px;
  right: 1rem;
  top: 1rem;
}

.projects-header .signout:hover {
  cursor: pointer;
}

.projects-content {
  position: relative;
  z-index: 10;
  top: 10vh;
}

.projects-content-title {
  font-size: 4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 3rem;
  color: #f5f5f5;
}

.projects-content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[3];
      grid-template-columns: repeat(3, 350px);
  -ms-grid-rows: (230px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 230px);
  gap: 3rem;
}

.projects-content-container .project-card {
  height: 230px;
  width: 350px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 60px 40px 80px;
      grid-template-rows: 60px 40px 80px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.3);
          box-shadow: 0.5px 0.5px 10px rgba(5, 30, 52, 0.3);
}

.projects-content-container .project-card.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-content-container .project-card.add svg {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.projects-content-container .project-card:hover {
  cursor: pointer;
}

.projects-content-container .project-card .title {
  font-size: 2.2rem;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects-content-container .project-card-avatar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-content-container .project-card-avatar-container .avatar {
  margin-right: 0.5rem;
}

.projects-content-container .project-card .tags {
  justify-self: flex-start;
}

.projects-content-container .project-card .tags .tag {
  background-color: #051e34;
  border-radius: 1000px;
  color: #f5f5f5;
  padding: 0.2rem 0.8rem;
  margin: 0.5rem 0rem;
  font-size: 1.4rem;
}

.project-screen {
  margin-left: 30rem;
}
/*# sourceMappingURL=main.css.map */